.orange {
    background-color: orange;
    height: 40px;
    margin: 2px;
}
.green {
    background-color: greenyellow;
    height: 100px;
    margin: 2px;
}
.blue {
    background-color: blue;
    margin: 2px;
    height: 130px;
}
.grey {
    background-color: lightgray;
    height: 70px;
    margin: 2px auto;
}
@media screen and (min-width: 320px) {
    .green {
        height: 150px;
    }
    .blue {
        height: 100px;
        width: 100%;
    }
    .orange {
        height: 60px;
        width: 100%;
    }
    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .grey {
        flex-basis: calc(50% - 2px) ;
        flex-grow: 0;
        margin: 1px;
        height: 50px;
    }
}
@media screen and (min-width: 768px) {
    .orange {
        width: 50%;
        height: 100px;
    }
    .green {
        height: 220px;
    }
    .blue {
        width: 33%;
        height: 180px;
    }
    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .grey {
        width: 25%;
        height: 150px;
        margin: 2px;
    }
}